body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1075px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u676 {
  position:absolute;
  left:35px;
  top:13px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u678 {
  position:absolute;
  left:12px;
  top:11px;
  width:13px;
  height:25px;
}
#u679 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:159px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  position:absolute;
  left:171px;
  top:51px;
  width:191px;
  height:159px;
}
#u681 {
  position:absolute;
  left:2px;
  top:72px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u682 {
  position:absolute;
  left:200px;
  top:96px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u683 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u684 {
  position:absolute;
  left:200px;
  top:131px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u685 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u686 {
  position:absolute;
  left:200px;
  top:166px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u687 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u688 {
  position:absolute;
  left:207px;
  top:63px;
  width:131px;
  height:16px;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:153px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u690 {
  position:absolute;
  left:171px;
  top:342px;
  width:191px;
  height:153px;
}
#u691 {
  position:absolute;
  left:2px;
  top:68px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u692 {
  position:absolute;
  left:200px;
  top:400px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u693 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u694 {
  position:absolute;
  left:200px;
  top:442px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u695 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u696 {
  position:absolute;
  left:240px;
  top:361px;
  width:57px;
  height:16px;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:149px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u698 {
  position:absolute;
  left:177px;
  top:722px;
  width:191px;
  height:149px;
}
#u699 {
  position:absolute;
  left:2px;
  top:66px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u700 {
  position:absolute;
  left:239px;
  top:733px;
  width:71px;
  height:16px;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:149px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u702 {
  position:absolute;
  left:177px;
  top:1092px;
  width:191px;
  height:149px;
}
#u703 {
  position:absolute;
  left:2px;
  top:66px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u704 {
  position:absolute;
  left:246px;
  top:1104px;
  width:57px;
  height:16px;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u706 {
  position:absolute;
  left:206px;
  top:780px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u707 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u708 {
  position:absolute;
  left:206px;
  top:823px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u709 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u710 {
  position:absolute;
  left:206px;
  top:1150px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u711 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u712 {
  position:absolute;
  left:206px;
  top:1191px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u713 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:111px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  position:absolute;
  left:549px;
  top:276px;
  width:191px;
  height:111px;
}
#u715 {
  position:absolute;
  left:2px;
  top:48px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u716 {
  position:absolute;
  left:576px;
  top:337px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u717 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  position:absolute;
  left:616px;
  top:298px;
  width:43px;
  height:16px;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:148px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u720 {
  position:absolute;
  left:547px;
  top:447px;
  width:191px;
  height:148px;
}
#u721 {
  position:absolute;
  left:2px;
  top:66px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u722 {
  position:absolute;
  left:576px;
  top:505px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u723 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u724 {
  position:absolute;
  left:576px;
  top:547px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u725 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u726 {
  position:absolute;
  left:616px;
  top:466px;
  width:57px;
  height:16px;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:148px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  position:absolute;
  left:882px;
  top:447px;
  width:191px;
  height:148px;
}
#u729 {
  position:absolute;
  left:2px;
  top:66px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u730 {
  position:absolute;
  left:911px;
  top:505px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u731 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u732 {
  position:absolute;
  left:911px;
  top:543px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u733 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u734 {
  position:absolute;
  left:951px;
  top:466px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:111px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u736 {
  position:absolute;
  left:551px;
  top:644px;
  width:191px;
  height:111px;
}
#u737 {
  position:absolute;
  left:2px;
  top:48px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u738 {
  position:absolute;
  left:578px;
  top:705px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u739 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u740 {
  position:absolute;
  left:618px;
  top:666px;
  width:43px;
  height:16px;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:148px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u742 {
  position:absolute;
  left:549px;
  top:812px;
  width:191px;
  height:148px;
}
#u743 {
  position:absolute;
  left:2px;
  top:66px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u744 {
  position:absolute;
  left:578px;
  top:870px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u745 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u746 {
  position:absolute;
  left:578px;
  top:912px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u747 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u748 {
  position:absolute;
  left:618px;
  top:831px;
  width:71px;
  height:16px;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:148px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u750 {
  position:absolute;
  left:884px;
  top:812px;
  width:191px;
  height:148px;
}
#u751 {
  position:absolute;
  left:2px;
  top:66px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u752 {
  position:absolute;
  left:913px;
  top:870px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u753 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u754 {
  position:absolute;
  left:913px;
  top:908px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u755 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u756 {
  position:absolute;
  left:953px;
  top:831px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:148px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u758 {
  position:absolute;
  left:549px;
  top:1093px;
  width:191px;
  height:148px;
}
#u759 {
  position:absolute;
  left:2px;
  top:66px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u760 {
  position:absolute;
  left:578px;
  top:1151px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u761 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u762 {
  position:absolute;
  left:578px;
  top:1193px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u763 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u764 {
  position:absolute;
  left:582px;
  top:1112px;
  width:130px;
  height:16px;
}
#u765 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:148px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u766 {
  position:absolute;
  left:884px;
  top:1093px;
  width:191px;
  height:148px;
}
#u767 {
  position:absolute;
  left:2px;
  top:66px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u768 {
  position:absolute;
  left:913px;
  top:1151px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u769 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u770 {
  position:absolute;
  left:913px;
  top:1189px;
  width:137px;
  height:25px;
  font-size:12px;
}
#u771 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u772 {
  position:absolute;
  left:953px;
  top:1112px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u773 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u774 {
  position:absolute;
  left:200px;
  top:109px;
  width:0px;
  height:0px;
}
#u774_seg0 {
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u774_seg1 {
  position:absolute;
  left:-44px;
  top:-4px;
  width:8px;
  height:318px;
}
#u774_seg2 {
  position:absolute;
  left:-44px;
  top:306px;
  width:15px;
  height:8px;
}
#u774_seg3 {
  position:absolute;
  left:-44px;
  top:300px;
  width:20px;
  height:20px;
}
#u775 {
  position:absolute;
  left:-90px;
  top:132px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776 {
  position:absolute;
  left:200px;
  top:144px;
  width:0px;
  height:0px;
}
#u776_seg0 {
  position:absolute;
  left:-80px;
  top:-4px;
  width:80px;
  height:8px;
}
#u776_seg1 {
  position:absolute;
  left:-80px;
  top:-4px;
  width:8px;
  height:661px;
}
#u776_seg2 {
  position:absolute;
  left:-80px;
  top:649px;
  width:57px;
  height:8px;
}
#u776_seg3 {
  position:absolute;
  left:-38px;
  top:643px;
  width:20px;
  height:20px;
}
#u777 {
  position:absolute;
  left:-126px;
  top:307px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778 {
  position:absolute;
  left:200px;
  top:179px;
  width:0px;
  height:0px;
}
#u778_seg0 {
  position:absolute;
  left:-139px;
  top:-4px;
  width:139px;
  height:8px;
}
#u778_seg1 {
  position:absolute;
  left:-139px;
  top:-4px;
  width:8px;
  height:996px;
}
#u778_seg2 {
  position:absolute;
  left:-139px;
  top:984px;
  width:116px;
  height:8px;
}
#u778_seg3 {
  position:absolute;
  left:-38px;
  top:978px;
  width:20px;
  height:20px;
}
#u779 {
  position:absolute;
  left:-185px;
  top:474px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780 {
  position:absolute;
  left:337px;
  top:455px;
  width:0px;
  height:0px;
}
#u780_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:197px;
  height:8px;
}
#u780_seg1 {
  position:absolute;
  left:189px;
  top:-127px;
  width:8px;
  height:131px;
}
#u780_seg2 {
  position:absolute;
  left:189px;
  top:-127px;
  width:23px;
  height:8px;
}
#u780_seg3 {
  position:absolute;
  left:197px;
  top:-133px;
  width:20px;
  height:20px;
}
#u781 {
  position:absolute;
  left:118px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782 {
  position:absolute;
  left:337px;
  top:455px;
  width:0px;
  height:0px;
}
#u782_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:197px;
  height:8px;
}
#u782_seg1 {
  position:absolute;
  left:189px;
  top:-4px;
  width:8px;
  height:74px;
}
#u782_seg2 {
  position:absolute;
  left:189px;
  top:62px;
  width:21px;
  height:8px;
}
#u782_seg3 {
  position:absolute;
  left:195px;
  top:56px;
  width:20px;
  height:20px;
}
#u783 {
  position:absolute;
  left:88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784 {
  position:absolute;
  left:713px;
  top:560px;
  width:0px;
  height:0px;
}
#u784_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:161px;
  height:8px;
}
#u784_seg1 {
  position:absolute;
  left:153px;
  top:-43px;
  width:8px;
  height:47px;
}
#u784_seg2 {
  position:absolute;
  left:153px;
  top:-43px;
  width:16px;
  height:8px;
}
#u784_seg3 {
  position:absolute;
  left:154px;
  top:-49px;
  width:20px;
  height:20px;
}
#u785 {
  position:absolute;
  left:54px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786 {
  position:absolute;
  left:343px;
  top:836px;
  width:0px;
  height:0px;
}
#u786_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:191px;
  height:8px;
}
#u786_seg1 {
  position:absolute;
  left:183px;
  top:-140px;
  width:8px;
  height:144px;
}
#u786_seg2 {
  position:absolute;
  left:183px;
  top:-140px;
  width:25px;
  height:8px;
}
#u786_seg3 {
  position:absolute;
  left:193px;
  top:-146px;
  width:20px;
  height:20px;
}
#u787 {
  position:absolute;
  left:122px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788 {
  position:absolute;
  left:343px;
  top:836px;
  width:0px;
  height:0px;
}
#u788_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:191px;
  height:8px;
}
#u788_seg1 {
  position:absolute;
  left:183px;
  top:-4px;
  width:8px;
  height:58px;
}
#u788_seg2 {
  position:absolute;
  left:183px;
  top:46px;
  width:23px;
  height:8px;
}
#u788_seg3 {
  position:absolute;
  left:191px;
  top:40px;
  width:20px;
  height:20px;
}
#u789 {
  position:absolute;
  left:78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790 {
  position:absolute;
  left:715px;
  top:925px;
  width:0px;
  height:0px;
}
#u790_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:159px;
  height:8px;
}
#u790_seg1 {
  position:absolute;
  left:151px;
  top:-43px;
  width:8px;
  height:47px;
}
#u790_seg2 {
  position:absolute;
  left:151px;
  top:-43px;
  width:18px;
  height:8px;
}
#u790_seg3 {
  position:absolute;
  left:154px;
  top:-49px;
  width:20px;
  height:20px;
}
#u791 {
  position:absolute;
  left:54px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792 {
  position:absolute;
  left:343px;
  top:1204px;
  width:0px;
  height:0px;
}
#u792_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:191px;
  height:8px;
}
#u792_seg1 {
  position:absolute;
  left:183px;
  top:-41px;
  width:8px;
  height:45px;
}
#u792_seg2 {
  position:absolute;
  left:183px;
  top:-41px;
  width:23px;
  height:8px;
}
#u792_seg3 {
  position:absolute;
  left:191px;
  top:-47px;
  width:20px;
  height:20px;
}
#u793 {
  position:absolute;
  left:72px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794 {
  position:absolute;
  left:715px;
  top:1206px;
  width:0px;
  height:0px;
}
#u794_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:159px;
  height:8px;
}
#u794_seg1 {
  position:absolute;
  left:151px;
  top:-43px;
  width:8px;
  height:47px;
}
#u794_seg2 {
  position:absolute;
  left:151px;
  top:-43px;
  width:18px;
  height:8px;
}
#u794_seg3 {
  position:absolute;
  left:154px;
  top:-49px;
  width:20px;
  height:20px;
}
#u795 {
  position:absolute;
  left:54px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
